extends ../../../views/layout

block head
    script(src='/hockeystreams_client.js')
// require.js ??? http://www.cdnjs.com/#/search/require

block content
    div
        button#ipException(
            class="btn"
            onclick="javascript:generateIpException('#{locals.ipExceptionUrl}', '#{locals.userId}' )" ).
            IP Exception
        button#getStreams(
            class="btn"
            onclick="javascript:getStreams('#{locals.getStreamsUrl}', '#{locals.userId}' )" ).
            Get Streams
    div
        table#streams()